body {
}

#ContentPlaceHolder1_BlogSideNav {
    display: inline-block;
    float: right;
    width: 29%;
    border-left: 0.5px solid #c2a329;
}

#blog_content_container {
    display: inline-block;
    float: none;
    width: 60%;
    min-height: 1000px;
}

#blog_nav_content {
    padding: 0px 25px;
}

#blog_main_container {
    margin-top: 60px;
}

#email_label {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
}

#email_input_box {
    margin-bottom: 20px;
}

#email_sub_input {
    width: 90%;
}

.blog-nav-section {
    border-bottom: 0.5px solid #c2a329;
    padding-bottom: 25px;
}

.topic-text {
    color: #c2a329;
    font-family: 'Oswald', sans-serif;
    margin: 10px 0;
    position: relative;
    width: fit-content;
}

.topic-row .fa-angle-right:before {
    width: 0;
    font-weight: bold;
    transition: all 0.5s;
    position: absolute;
    bottom: 3px;
    right: 0;
}

.topic-text:hover .fa-angle-right:before {
    right: -5px;
}

.topic-text span {
    margin-right: 10px;
}

#posts_popular_section .topic-text {
    margin: 15px 0;
}

#posts_popular_section .topic-text span {
    text-decoration: underline;
}

#posts_popular_section .topic-text:hover span {
    text-decoration: none;
}

#blog_nav_content .blog-nav-section:last-child {
    border-bottom: none;
}

@media(max-width: 850px) {
    #ContentPlaceHolder1_BlogSideNav {
        display: block;
        float: none;
        width: auto;
        border-left: none;
    }

    #blog_content_container {
        display: block;
        width: auto;
    }
}
