body {
}

.blog-post-date {
    margin-bottom: 5px;
}

.blog-post-date span {
    font-weight: 300;
    font-size: 19px;
}

.blog-post-header {
    font-weight: 400;
    font-size: 36px;
}

.blog-post-picture {
    margin-bottom: 20px;
}