#send_message_button {
    display: flex;
    justify-content: center;
    padding: 13px;
}

#send_message_button:hover {
    color: #c2a329;
}

.thanks-message {
    max-width: 680px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}

.contact-header {
    margin-bottom: 0;
}