.form-row, .button-form-row {
    display: flex;
    justify-content: center;
}

.row-6 {
    width: 50%;
}

.row-12 {
    width: 100%;
}

form .input, .input {
    margin: 16px 5px;
    background: #e6e6e6;
}

textarea {
    min-height: 315px;
}

@media(max-width:600px) {
    .form-row {
        display: block;
    }

    .row-6 {
        width: 100%;
    }
}
