@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {

}

.content-container {
    /*background-color: #c2a329;*/
    background: #000000;
    margin: auto;
    min-height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about_me_button {
    width: 165px;
    margin-top: 30px;
}

/***************************Blog Image With Overlay***************************/
.image-container {
    position: relative;
    z-index: 5;
}

.image-overlay {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, .20);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.image-container img, .full-image-header img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.image-container .overlay-text {
    font-size: 45px;
}

/***************************Blog content***************************/
.page-content-header {
    text-align: center;
}

.whats-in-the-mine p {
    color: #000000;
}

.whats-in-mine-text {
    width: 38%;
    margin-right: 4%;
    text-align: left;
}

.blog-posts {
    display: flex;
    justify-content: center;
}

.recent-blogs-title {
    display: block;
    margin-bottom: 10px;
    margin-left: 3%;
}

.recent-blogs-title::after {
    width: 0 !important;
}

.recent-blog-posts img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.blog-image-container:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.35s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.blog-image-container:hover:after {
    opacity: .8;
}

.blog-image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.button-link {
    position: absolute;
    z-index: 11;
    top: 50%;
    opacity: 0;
    transition: all 0.35s ease;
    padding: 0;
}

.blog-image-container:hover .button-link {
    opacity: 1;
    padding: 6px;
    top: 39%;
}

.blog-post {
    margin: 0 1%;
    width: 29%;
    padding: 10px;
}

.blog-title {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.blog-date {
    font-weight: 100;
}

.blog-description {
    font-size: 13px;
}

#all_posts_button {
    margin: auto;
    margin-top: 70px;
}

.blog-preview {
    font-weight: 100;
    font-size: 14px;
}

.quote-container {
    text-align: center;
    width: 85%;
    margin: auto;
    border-top: 2px solid #c2a329;
    border-bottom: 2px solid #c2a329;
    padding: 30px;
}

.quote {
    font-size: 42px;
    font-style: italic;
    font-weight: 300;
}

.quotee {
    display: block;
    font-size: 22px;
    margin-top: 10px;
    font-style: normal;
}

.view-all-text {
    text-decoration: underline !important;
}

#view_all_blogs {
    border: 2px solid #c2a329;
    margin: auto;
}

/***************************Subscribe Module***************************/
.full-screen-sub-image {
    border-top: 4px solid #a88e24;
}

.full-screen-sub-image img {
    width: 100%;
    height: auto;
}

#subscribe_module {
    position: relative;
    margin-top: 100px;
}

#sub_module_form {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #a88e24;
}

#sub_module_header {
    color: #000000;
    padding: 10px;
    font-size: 40px;
    position: relative;
}

#sub_module_header:after {
    content: "";
    width: 80%;
    height: 4px;
    bottom: 0;
    background: #000000;
    left: 0;
    position: absolute;
    margin: -5px 10px;
}

.sub-section {
    padding: 30px;
}

#email_input_box {
    margin-bottom: 20px;
}

#email_sub_input {
    width: 100%;
    position: absolute;
    right: 0;
}

#email_label {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.input-button-one-line {
    position: relative;
}

#blog_sub_button {
    position: absolute;
    z-index: 60;
    right: 0;
    display: flex;
    height: 18px;
    align-items: center;
    justify-content: center;
}
/***************************Mobile Views***************************/
@media (max-width: 805px) {
    #sub_module_header {
        font-size: 22px;
    }

    .sub-section {
        padding-top: 0;
    }

    .blog-title {
        font-size: 15px;
    }
}

/*Change hover effects of "Read Post" button on blog link images*/
@media(max-width: 1000px) {
    .button-link {
        position: absolute;
        z-index: 11;
        top: 55%;
        opacity: 1;
        padding: 6px;
    }

    .blog-image-container:hover .button-link {
        opacity: 1;
        padding: 6px;
        top: 55%;
    }
}


@media(max-width: 1020px) and (min-width: 610) {
    #sub_module_form {
        width: 52%;
    }
}
@media (max-width: 710px) {
    #sub_module_header {
        width: 100%
    }

    #sub_module_form {
        width: 100%;
    }

    .full-screen-sub-image {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .blog-post {
        width: 73%;
        margin: 15px;
    }

    .blog-posts {
        flex-wrap: wrap;
    }

    .recent-blogs-title {
        text-align: center;
    }
}
