body {
}

h1, h2, h3, h4, h5, h6, span {
    color: #c2a329;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #b0b0b0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body {
    background: #000000;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.social {
    padding: 5px;
}

.pointer:hover {
    cursor: pointer;
}

.sub-success-section p {
    margin: 0;
}

.content-section {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    margin: 35px auto;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/*************************** START: Side by Side Module ***************************/
.side-by-side-module {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6%;
}

.side-by-side-module .column {
    width: 50%;
}
@media (max-width: 740px) {
    .side-by-side-module {
        flex-direction: column-reverse;
    }

    .side-by-side-module .column {
        width: 100%;
    }
}
/*************************** END: Side by Side Module ***************************/

.content-header {
    font-size: 36px;
    position: relative;
    padding: 10px;
    font-weight: 400;
    text-align: center;
}

.sub-content-header {
    font-weight: 400;
    font-size: 36px;
}

.black {
    color: #000000;
}

.gold {
    color: #c2a329;
}

/*************************** Input Forms ***************************/
.input {
    padding: 8px 3%;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}

/*************************** Gold Button Styling ***************************/
.gold-button {
    text-align: center;
    background-color: #c2a329;
    width: 130px;
    padding: 6px;
    border: 2px solid #c2a329;
}

    .gold-button:hover {
        background-color: #000000;
    }

        .gold-button:hover .button-text {
            color: #c2a329;
        }

    .gold-button .button-text {
        color: #000000;
    }

input.gold-button:hover {
    color: #c2a329;
}

/*************************** Black Button Styling ***************************/
.black-button {
    text-align: center;
    background-color: #000000;
    width: 130px;
    padding: 6px;
    border: 2px solid #000000;
}

    .black-button:hover {
        background-color: #c2a329;
    }

        .black-button:hover .button-text {
            color: #000000;
        }

    .black-button .button-text {
        color: #c2a329;
    }